.Category-Tag {
  background-color: rgb(181, 0, 0);
  color: white;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
