/*** Container ***/

.Container {
  padding: 2rem;
}


/*** Logo ***/

.Logo {
  object-fit: contain;
  width: 100%;
}


/*** InfoText ***/

.InfoText {
  padding: 2rem 0;
}

.InfoText-paragraph {
  color: #404040;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0.75rem 0;
}


/*** Buttons ***/

.Button {
  background-color: #175fd1;
  border: 0 none;
  border-radius: 0.5rem;
  color: #ffffff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}
